/* Login.module.css */

.emphasize{
	font-size: 24px;
	color: red;
}
.home{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	.header {
	  background-color: #4a4a4a;
	  color: white;
	  height: 60px;
	  padding: 10px 20px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}

	.logo img {
	  height: 40px;
	}

	.nav {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  display: flex;
	  gap: 20px;
	}

	.nav li {
	  display: inline;
	}

	.nav li a {
	  color: white;
	  text-decoration: none;
	}

	.main {
	  flex-grow: 1;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 20px;
	  .buttonBg{
			width:100%;
			height: 100%;
			display: flex;
		    align-items: center;
		    justify-content: center;
		}
		.loginContainer {
		  width: 500px;
		  padding: 20px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  background-color: #fff;
		  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		  text-align: center;
		}

		.loginContainer h2 {
		  margin-bottom: 20px;
		}

		.formGroup {
		  margin-bottom: 10px;
		}

		.formGroup label {
		  display: block;
		  text-align: left;
		  margin-bottom: 5px;
		  color: red;
		}

		.formGroup input {
		  width: 100%;
		  padding: 10px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		}

		.loginButton {
		  width: 100%;
		  padding: 10px;
		  border: none;
		  border-radius: 5px;
		  /*background-color: #ffdd00;
		  color: black;*/
		  cursor: pointer;
		  font-size: 24px;
/*		  color: white;*/
		}

		/*.loginButton:hover {
		  background-color: #e6c200;
		}*/

		.links {
		  margin-top: 10px;
		  display: flex;
		  justify-content: space-between;
		}

		.links a {
		  color: #0073e6;
		  text-decoration: none;
		  font-size: 14px;
		}
	}

	

	.footer {
	  background-color: #4a4a4a;
	  color: white;
	  padding: 20px;
	  text-align: center;
	}

	.footerNav {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  display: flex;
	  justify-content: center;
	  gap: 20px;
	}

	.footerNav li {
	  display: inline;
	}

	.footerNav li a {
	  color: white;
	  text-decoration: none;
	}
}
